# ==========================================
# .NET / Blazor WebAssembly Standalone
# ==========================================

# Build
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/

# Publish and Deployment
*.Publish.xml
*.pubxml
*.pubxml.user
publish/
[Pp]ublish[Pp]rofiles/
AppPackages/

# VS IDE
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.vssscc
*.vspscc
*.vsix

# JetBrains Rider IDE
.idea/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Tests and coverage
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.coverage
*.coveragexml
coverage.json
BenchmarkDotNet.Artifacts/

# Configuration and enviromental variables
.env
.env.*
appsettings.Development.json
appsettings.Local.json
*.user.json

# Node.js and NPM
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# OP System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini
