@import "../../../wwwroot/css/_variables.less";

.mwksz-section {
    background: var(--primary-grad);
    color: var(--text-light);

    @{deep-combinator} {
        .mwksz-intro-text {
            max-width: 600px;
            justify-self: center;
        }

        .features-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px;
            max-width: 1200px;
            margin: 2rem auto;
        }

        .feature-icon {
            font-size: 2.5rem;
            margin-bottom: 15px;
        }

        .features-grid .btn-info {
            margin-top: 15px;
        }

        .event-calendar-wrapper {
            display: flex;
            justify-content: center;
        }

        .event-calendar-image {
            border-radius: 50px;
            justify-self: center;
            max-width: 60%;
            height: auto;

            @media (max-width: @breakpoint-mobile) {
                max-width: 100%;
            }
        }
    }
}