@import "../../../Styles/_variables.less";

.coaches-section {
    background: var(--secondary-grad);
}

.section-title-white {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
    color: white;
}
