@import "../../../wwwroot/css/_variables.less";

.grid-place(@col-start, @col-span, @row-start, @row-span) {
    grid-column: @col-start / span @col-span;
    grid-row: @row-start / span @row-span;
}

.grid-span(@columns, @rows) {
    grid-column: span @columns;
    grid-row: span @rows;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius);
    transition: transform 0.3s;
    cursor: pointer;

    &:hover {
        transform: scale(1.02);
        z-index: 2;
        .box-shadow-black(10px, 20px, 0.2);
    }
}

.g-item-1 {
    .grid-span(2, 2);
}

.g-item-2 {
    .grid-span(1, 1);
}

.g-item-3 {
    .grid-span(1, 2);
}

.g-item-4 {
    .grid-span(1, 1);
}

.g-item-5 {
    .grid-place(1, 1, 1, 2);
}

.g-item-6 {
    .grid-place(2, 2, 1, 2);
}

.g-item-7 {
    .grid-place(4, 1, 1, 1);
}

.g-item-8 {
    .grid-place(4, 1, 2, 1);
}

.g-item-9 {
    .grid-place(1, 1, 1, 1);
}

.g-item-10 {
    .grid-place(1, 1, 2, 1);
}

.g-item-11 {
    .grid-place(2, 1, 1, 2);
}

.g-item-12 {
    .grid-place(3, 2, 1, 2);
}

@media (max-width: @breakpoint-mobile) {
    .gallery-grid-item {
        grid-column: span 1;
        grid-row: span 1;
        height: 250px;
    }
}
